<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SASTA NETFLIX</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('./partials/header.ejs') -%>
        <div class="container-fluid bg-white border border-dark">
            <div class="row">
                <%- include('./partials/aside.ejs') -%>
                    <div class="col-9" style="background-color:rgba(0, 0, 0, 0.891);">
                        <div class="container book-list ">
                            <div class="row gy-5">
                                <% data.map((val)=>{ %>
                                    <div class="col-11 col-md-6 col-lg-4">
                                        <div class="card book-card"
                                            style="background: url(); background-position: top center; background-size: cover; background-repeat: no-repeat;position: relative;z-index: 2;">
                                            <img src="<%= val.image %>" class="card-img-top" alt="..."
                                                style="position: absolute;z-index: -1; top: 0;bottom: 0;left:0;right: 0; object-fit:fill;">
                                            <div class="card-body px-3">
                                                <span class="d-none" name="id">
                                                    <%= val._id %>
                                                </span>
                                                <h4 class="card-title">
                                                    <%= val.name %>
                                                </h4>
                                                <p class="card-text">
                                                    <%= val.description %>
                                                </p>
                                                <span>
                                                    <%= val.ratings %>
                                                </span>
                                                <div class="btn-Group mt-3">
                                                    <a href="/delete/<%= val._id %>" style="text-decoration: none;">
                                                        <span class="btn btn-danger fw-bold py-1 px-3">DELETE</span>
                                                    </a>
                                                    <a href="#" type="button" class="btn btn-dark py-1 px-3 ms-2"
                                                        data-bs-toggle="modal" data-bs-target="#editData<%= val._id %>">
                                                        <span class="text-light fw-semibold">
                                                            EDIT
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                        <% data.map((val)=>{ %>
                                            <div class="edit-modal">
                                                <div class="modal fade" id="editData<%= val._id %>"
                                                    data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content px-2"
                                                            style="border-radius: 10px; background-color: rgba(225 ,225 ,225 ,0.9 ); width: 100%;">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                                                                    EDIT DATA
                                                                </h1>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="/create" method="post" class="mb-3"
                                                                    enctype="multipart/form-data">
                                                                    <input type="hidden" value="<%= val._id %>"
                                                                        name="id">
                                                                    <input type="text"
                                                                        class="form-control border border-0" name="name"
                                                                        placeholder="Name" value="<%= val.name %>"
                                                                        style="background-color: rgba(225 ,225 ,225 ,0.8 );">

                                                                    <textarea class="form-control my-3 border border-0"
                                                                        rows="3" name="description"
                                                                        placeholder="Description"
                                                                        style="background-color: rgba(225 ,225 ,225 ,0.8 );"><%= val.description %></textarea>
                                                                    <div class="drop-zone">
                                                                        <span class="drop-zone__prompt text-dark">
                                                                            Drop file here or click to upload
                                                                        </span>
                                                                        <input type="file" name="image"
                                                                            class="drop-zone__input form-control">
                                                                    </div>
                                                                    <div class="image-display mt-3 d-flex justify-content-between align-items-start">
                                                                        <div class="ratings">
                                                                            <label for=""
                                                                                class="fs-5 text-dark"><strong>Ratings
                                                                                    :</strong></label>
                                                                            <select name="ratings" id=""
                                                                                class="ms-2 px-2 py-1 rounded-3">
                                                                                <option value="">Rate movie</option>
                                                                                <option <% if(val.ratings=="⭐" ){%>
                                                                                    selected
                                                                                    <%} %>
                                                                                        value="⭐" >⭐
                                                                                </option>
                                                                                <option <% if(val.ratings=="⭐⭐" ){%>
                                                                                    selected
                                                                                    <%} %>
                                                                                        value="⭐⭐">⭐⭐
                                                                                </option>
                                                                                <option <% if(val.ratings=="⭐⭐⭐" ){%>
                                                                                    selected<%} %>
                                                                                        value="⭐⭐⭐">⭐⭐⭐</option>
                                                                                <option <% if(val.ratings=="⭐⭐⭐⭐" ){%>
                                                                                    selected
                                                                                    <%} %>
                                                                                        value="⭐⭐⭐⭐">⭐⭐⭐⭐
                                                                                </option>
                                                                                <option <% if(val.ratings=="⭐⭐⭐⭐⭐" ){%>
                                                                                    selected
                                                                                    <%} %>
                                                                                        value="⭐⭐⭐⭐⭐">⭐⭐⭐⭐⭐
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                        <img src="<%= val.image %>" alt="" width="150px"
                                                                            height="150px" class="rounded-3 shadow-lg">
                                                                    </div>
                                                                    <input type="submit" value="UPDATE"
                                                                        class="mt-3 form-control bg-success text-white">
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') -%>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
<script src="/js/dragDrop.js"></script>
